{
   "driver_config": {
       "url": "http://[Your Home Assistant IP]:[Your Port]",
       "access_token": "[Your Home Assistant Access Token]",
       "verify_ssl": true,
       "ssl_cert_path": ""
   },
   "driver_type": "home_assistant",
   "registry_config": "config://light.example.json",
   "interval": 30,
   "timezone": "UTC"
}
