{
   "driver_config": {
       "url": "https://<HOME_ASSISTANT_HOST>:<PORT>",
       "access_token": "<LONG_LIVED_ACCESS_TOKEN>",
       "verify_ssl": true,
       "ssl_cert_path": "/path/to/fullchain.pem"
   },
   "driver_type": "home_assistant",
   "registry_config": "config://light.example.json",
   "interval": 30,
   "timezone": "UTC"
}
